.sub-header ul.menu-level-0 {
  display: flex;
  justify-content: space-around;
}

.sub-header ul.menu-level-0 li {
  padding: 15px 20px;
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 12px;
  position: relative;
  font-weight: 500;
}
.sub-header ul.menu-level-0 li a {
  color: grey;
}
.sub-header ul.menu-level-0 li:hover {
  cursor: pointer;
  color: #e7a;
}
.sub-header ul.menu-level-0 li ul.menu-level-1 {
  display: none;
  position: absolute;
  z-index: 25;
  top: 100%;
  left: 0;
  width: max-content;
  color: black;
}
.sub-header ul.menu-level-0 li ul.menu-level-1 li {
  width: 200px;
  background: beige;
}
.sub-header ul.menu-level-0 li ul.menu-level-1 li:hover {
  background: grey;
  color: white;
}
.sub-header ul.menu-level-0 li ul.menu-level-1 li:hover a {
  color: white;
}
.sub-header ul.menu-level-0 li:hover .menu-level-1 {
  display: block;
}
