.checkout-form * {
  box-sizing: border-box;
}
.visa {
  color: navy;
}
.amex {
  color: blue;
}
.mastercard {
  color: red;
}
.discover {
  color: orange;
}
.price {
  color: black;
}

.col-20 {
  -ms-flex: 20%;
  flex: 20%;
}
.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}
.col-30 {
  -ms-flex: 40%;
  flex: 40%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}
.col-70 {
  -ms-flex: 60%;
  flex: 60%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}
.col-80 {
  -ms-flex: 80%;
  flex: 80%;
}

.col-25,
.col-30,
.col-50,
.col-70,
.col-75 {
  padding: 0 16px;
}

.checkout-form .btn-checkout-submit {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn-checkout-submit:hover {
  background-color: #45a049;
}

a {
  color: #2196f3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-40 {
    margin-bottom: 20px;
  }
}

.checkout-form .card-body i {
  height: 25px;
  width: 25px;
  margin: 0px 10px;
  font-size: xx-large;
}
.checkout-form .form-group {
  position: relative;
}
.checkout-form .error-message {
  top: 49%;
  right: 5%;
}
