#home-carousel .carousel-inner .carousel-item {
  height: 200px;
}
#home-carousel .carousel-inner .carousel-item .carousel-caption {
  right: 10%;
  width: 500px;
  left: unset;
  top: 10%;
}
#home-carousel .carousel-inner .carousel-item .carousel-caption .bottom {
  margin-top: 15px;
}
#home-carousel .carousel-inner .carousel-item img {
  max-width: 300px;
  max-height: 175px;
  width: auto;
  height: auto;
  position: absolute;
  left: 35%;
  top: 5%;
}

#home-carousel .carousel-control-prev,
.carousel-control-next {
  top: 30%;
  background: white;
  opacity: 1;
  color: black;
  height: 80px;
  width: 50px;
}
#home-carousel .carousel-control-prev {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  left: 0;
}
#home-carousel .carousel-control-next {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  right: 0;
}
#home-carousel .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#home-carousel .carousel-control-next .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
