#products{
    flex-basis: 80%;
}
.filters{
    flex-basis: 20%;
}
#products a {
    display: inline-block;
    width: 24%;
    text-align: center;
    border: none;
}
#products a .card{
    border: none;
}
.card:hover{
    box-shadow: 0px 5px 5px rgba(33,33,33,.5); 
}

.card-image{
    height: 200px;
}
.card-img-top {
    display: block;
    margin: auto;
    margin-top:10px;
    max-width: 80%;
    max-height: 90%;
    width: auto;
    height: auto;
}
.card-img-top:hover{
    transform: scale(1.3);
}