.form-check-input {
  position: absolute;
  right: 0;
  width: 20px;
}
label {
  font-family: cursive;
  font-size: 16px;
}

/* Hide the default checkbox */
input[type="checkbox"] {
  visibility: hidden;
}

/* Creating a custom checkbox 
based on demand */
.geekmark {
  position: absolute;
  right: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
}

/* Specify the background color to be 
shown when hovering over checkbox */
.main:hover input ~ .geekmark {
  background-color: black;
}

/* Specify the background color to be 
shown when checkbox is active */
.main input:active ~ .geekmark {
  background-color: red;
}

/* Specify the background color to be 
shown when checkbox is checked */
.main input:checked ~ .geekmark {
  background-color: green;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.geekmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Display checkmark when checked */
.main input:checked ~ .geekmark:after {
  display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and  
showing only two border to make it look 
like a tickmark */
.main .geekmark:after {
  left: 10px;
  bottom: 8px;
  width: 11px;
  height: 20px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
