body {
  background-color: #f1f3f6;
}
#main {
  font-family: Poppins-Regular;
  letter-spacing: 1px;
}
#main a {
  font-family: Poppins-Medium;
}
/*[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url("fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("fonts/poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: Material-Design-Iconic-Font;
  src: url("fonts/iconic/fonts/Material-Design-Iconic-Font.ttf");
}

a {
  font-family: cursive;
}
