#product-full .left-container {
  width: 40%;
}
#product-full .right-container {
  width: 60%;
}
#product-full .left-container .image-thumbnails {
  width: 20%;
}
#product-full .left-container .image-block .thumbnail-image {
  height: 100px;
  width: 100px;
}
#product-full .left-container .image-block .thumbnail-image img {
  max-height: 100%;
  max-width: 100%;
}
#product-full .left-container .image-block .image {
  margin: auto 0px;
}
#product-full .left-container .image-block .image img {
  width: 90%;
  vertical-align: middle;
}
#product-full .right-container .category,
.sub-category {
  font-size: 18px;
  line-height: 16px;
}
#product-full .right-container > div {
  margin: 10px 0px;
}
#product-full .right-container .product-name {
  font-size: 22px;
  line-height: 20px;
  color: #000080c7;
  font-weight: 500;
}
#product-full .rating .checked {
  color: orange;
}

#product-full div.review-div {
  border-bottom: 1px solid grey;
}

#product-full .review-div span.rating {
  background: red;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 5px;
}
#product-full .review-section .review-box {
  max-height: 350px;
  width: 100%;
  overflow: auto;
}

#product-full .variant label {
  display: inline-block;
  width: 50px;
  padding: 10px;
  text-align: center;
  border: dashed 2px #ccc;
  transition: all 0.3s;
  margin-left: 15px;
  font-size: 15px;
}
#product-full .variant label:hover {
  cursor: pointer;
  border: solid 2px #ccc;
}

#product-full .variant input[type="radio"] {
  display: none;
}

#product-full .variant input[type="radio"]:checked + label {
  border: solid 2px green;
  font-weight: 600;
}
